.birds-page-wrapper {
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.birds-search-bar {
    background-color: #4a773c;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-family: 'Joti One', serif;
}

.birds-search-bar input {
    border: 2px solid #1a1a1a;
    padding: 8px;
    width: 300px;
    border-radius: 4px;
}

.birds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.bird-card {
    border: 2px solid #1a1a1a;
    background-color: #4a773c;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.bird-img-placeholder {
    background-color: #d1d1d1;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Joti One', serif;
    border-bottom: 2px solid #1a1a1a;
}

.bird-label {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Joti One', serif;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 80%;
}