.birds-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Kereső */
.birds-search-bar {
    background-color: #4a773c;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-family: 'Joti One', serif;
}

.birds-search-bar input {
    border: 2px solid #1a1a1a;
    padding: 8px;
    width: 300px;
    border-radius: 4px;
}

/* Kártya rács - Fix 3 oszlop */
.birds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.bird-card {
    border: 2px solid #1a1a1a;
    background-color: #4a773c;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.bird-img-placeholder {
    background-color: #d1d1d1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Joti One', serif;
    border-bottom: 2px solid #1a1a1a;
}

.bird-label {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Joti One', serif;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}