html, body {
    margin: auto;
    padding: 0;
    width: 100%;
    background-color: #333333; 
    display: flex;
    justify-content: center;
}

#root {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px; 
    padding: 20px 0;
    font-family: 'Joti One', serif;
    box-sizing: border-box;
    margin: auto;
}

.header-img, .header-banner-nav, .header-banner, 
.description-banner, .content-row div, .footer,
.birds-search-bar, .bird-card {
    border: 3px solid #1a1a1a;
    border-radius: 20px;
    box-sizing: border-box; 
}

.header-banner{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 35px;
    display: block;
}

.header-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: block;
}

.header-banner-nav {
    background-color: #4a773c;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 35px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    height: 80px;
    margin: 0px,-5px;
    display: block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 0%, 20%;
}

.content-row {
    display: flex;
    height: 300px; /* Megemeltem kicsit, hogy jobban hasonlítson a tervre */
    gap: 20px;     /* Nagyobb távolság a dobozok között */
    width: 100%;   /* Töltse ki a rendelkezésre álló helyet a wrapperben */
    max-width: 1000px;
    margin: auto; /* Alul legyen távolság a sorok között */
}

.content-row.reverse { 
    flex-direction: row-reverse; 
    margin: auto;
}

.image-placeholder, .text-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    min-width: 0;
    flex: 1;
}

.image-placeholder {
    flex: 1;
    background-color: #d1d1d1;
    color: #333;
}

.text-placeholder {
    flex: 1.5;
    background-color: #4a773c;
}

.header-banner, .description-banner {
    background-color: #4a773c;
    color: white;
    text-align: center;
    padding: 20px;

}

.description-banner {
    padding: 30px 20px;
    font-size: 1.5rem;
    font-style: italic;
    width: 100%;

}

.birds-page-wrapper {
    width: 100%;
}

.birds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    width: 100%;
    margin-top: 20px;
}

.bird-card {
    background-color: #4a773c;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer; 
    transition: transform 0.2s;
}

.bird-card:hover {
    transform: scale(1.02); 
}

.bird-img-placeholder {
    background-color: #d1d1d1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #1a1a1a;
    font-size: 1.5rem;
    color: #333;
}

.bird-label {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}


.birds-search-bar {
    background-color: #4a773c;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}

.birds-search-bar input {
    border: 2px solid #1a1a1a;
    padding: 8px;
    width: 300px;
    border-radius: 10px;
}

.footer {
    background-color: #4a773c;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}