/* Alap konténer beállítások */
.main-wrapper {
    background-color: #333333; /* Sötétszürke háttér */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: white;
    
}

/* Zöld fejléc és leírás sávok */
.header-banner, .description-banner, .footer-line {
    background-color: #4a773c; /* A rajzon látható zöld */
    width: 90%;
    max-width: 900px;
    text-align: center;
    border: 2px solid #1a1a1a;
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: 'Joti One', serif;
}

.header-banner h2 {
    margin: 15px 0;
    font-size: 1.2rem;
}

.description-banner {
    padding: 40px 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

/* Tartalom elrendezése */
.content-container {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-row {
    display: flex;
    gap: 20px;
    height: 250px;
}

/* Megfordított sor (kép jobbra kerül) */
.content-row.reverse {
    flex-direction: row-reverse;
}

/* Kép helyőrző (szürke) */
.image-placeholder {
    flex: 1;
    background-color: #d1d1d1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #1a1a1a;
}

/* Szöveg helyőrző (zöld) */
.text-placeholder {
    flex: 1.6; /* Szélesebb, mint a kép */
    background-color: #4a773c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #1a1a1a;
}

.footer-line {
    margin-top: 20px;
    padding: 10px 0;
    font-style: italic;
}