
.main-wrapper {
    background-color: #333333; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: white;   
}


.header-banner, .description-banner, .footer-line {
    background-color: #4a773c; 
    width: 90%;
    max-width: 900px;
    text-align: center;
    border: 2px solid #1a1a1a;
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: 'Joti One', serif;
}

.header-banner h2 {
    margin: 15px 0;
    font-size: 1.2rem;
}

.description-banner {
    padding: 40px 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.content-container {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-row {
    display: flex;
    gap: 20px;
    height: 250px;
}

.content-row.reverse {
    flex-direction: row-reverse;
}


.image-placeholder {
    flex: 1;
    background-color: #d1d1d1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #1a1a1a;
}

.text-placeholder {
    flex: 1.6; 
    background-color: #4a773c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #1a1a1a;
}

.footer-line {
    margin-top: 20px;
    padding: 10px 0;
    font-style: italic;
}

img{
    width: 90%;
    max-width: 900px;
    text-align: center;
    border: 2px solid #1a1a1a;
    margin-bottom: 15px;
    border-radius: 4px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  list-style: none; 
  margin: 0;
  padding: 0;
  gap: 25px; 
  justify-content: center; 
  align-items: center;
}

.nav-links a {
  text-decoration: none; 
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}


.nav-links a:hover {
  color: #2d5a27; 
}

.logo {
  height: 75px;    
  width: auto;      
  display: block;   
  border: 0px;
}