html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333333;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Ez kényszeríti középre a main-wrappert */
}